{% extends 'base.html.twig' %}

{% block title %}Reserve Asset{% endblock %}

{% block body %}
    <h1>Reserve Asset</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button class="btn btn-primary">Reserve</button>
    {{ form_end(form) }}
    <a></a>
    <a href="{{ path('public_task_show', {id: task.id}) }}" class="btn btn-secondary">Back</a>
{% endblock %}