{% extends 'base.html.twig' %}

{% block title %}Reserve Task{% endblock %}

{% block body %}
    <h1>Reserve Task</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button class="btn btn-primary">Reserve</button>
    {{ form_end(form) }}

    <a href="{{ path('public_task_show', {id: task.id}) }}" class="btn btn-secondary">Back to task</a>
{% endblock %}