{% extends 'base.html.twig' %}

{% block title %}Delete Task{% endblock %}

{% block body %}
    <h1>Delete Task</h1>

    <p>Are you sure you want to delete this task?</p>

    {{ form_start(form) }}
        <button class="btn btn-danger">{{ 'Delete'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}